In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('census-race.csv',index_col=0) # can set index_col=0 if want first column in file to be the index
df[0:5]

,Scratcher Sales Amount,Income Per Household Amount,Population Count,Price Point,Male Population Count,Female Population Count,Asian Population Count,Black Population Count,Hawaiian Population Count,Hispanic Population Count,...,Asian Population Ratio,Black Population Ratio,Hawaiian Population Ratio,Hispanic Population Ratio,Indian Population Ratio,White Population Ratio,Other Population Ratio,Ticket count,Ticket Per Capita,Sales Per Capita
Zip Code,,,,,,,,,,,,,,,,,,,,,
85003,1172995.0,47554,9369,5,5844,3525,178,1120,31,3728,...,0.013229283,0.083240431,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,234599,17.43582311,87.17911557
85003,1160840.0,47554,9369,20,5844,3525,178,1120,31,3728,...,0.013229283,0.083240431,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,58042,4.313786696,86.27573393
85003,1016690.0,47554,9369,10,5844,3525,178,1120,31,3728,...,0.013229283,0.083240431,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,101669,7.556224452,75.56224452
85003,183600.0,47554,9369,30,5844,3525,178,1120,31,3728,...,0.013229283,0.083240431,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,6120,0.454849498,13.64548495
85004,2210900.0,33862,4965,20,2646,2319,180,497,14,1647,...,0.026377491,0.072831184,0.002051583,0.241354045,0.037514654,0.501758499,0.118112544,110545,16.19944314,323.9888628

In [3]:
total=df.groupby('Zip Code')['Scratcher Sales Amount'].sum()

In [4]:
df["total"]=total

In [5]:
df.head()

,Scratcher Sales Amount,Income Per Household Amount,Population Count,Price Point,Male Population Count,Female Population Count,Asian Population Count,Black Population Count,Hawaiian Population Count,Hispanic Population Count,...,Black Population Ratio,Hawaiian Population Ratio,Hispanic Population Ratio,Indian Population Ratio,White Population Ratio,Other Population Ratio,Ticket count,Ticket Per Capita,Sales Per Capita,total
Zip Code,,,,,,,,,,,,,,,,,,,,,
85003,1172995.0,47554,9369,5,5844,3525,178,1120,31,3728,...,0.083240431,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,234599,17.43582311,87.17911557,3534125.0
85003,1160840.0,47554,9369,20,5844,3525,178,1120,31,3728,...,0.083240431,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,58042,4.313786696,86.27573393,3534125.0
85003,1016690.0,47554,9369,10,5844,3525,178,1120,31,3728,...,0.083240431,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,101669,7.556224452,75.56224452,3534125.0
85003,183600.0,47554,9369,30,5844,3525,178,1120,31,3728,...,0.083240431,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,6120,0.454849498,13.64548495,3534125.0
85004,2210900.0,33862,4965,20,2646,2319,180,497,14,1647,...,0.072831184,0.002051583,0.241354045,0.037514654,0.501758499,0.118112544,110545,16.19944314,323.9888628,7008260.0

In [6]:
df['Ratio']=df['Scratcher Sales Amount']/df['total']

In [7]:
df.head()

,Scratcher Sales Amount,Income Per Household Amount,Population Count,Price Point,Male Population Count,Female Population Count,Asian Population Count,Black Population Count,Hawaiian Population Count,Hispanic Population Count,...,Hawaiian Population Ratio,Hispanic Population Ratio,Indian Population Ratio,White Population Ratio,Other Population Ratio,Ticket count,Ticket Per Capita,Sales Per Capita,total,Ratio
Zip Code,,,,,,,,,,,,,,,,,,,,,
85003,1172995.0,47554,9369,5,5844,3525,178,1120,31,3728,...,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,234599,17.43582311,87.17911557,3534125.0,0.331905
85003,1160840.0,47554,9369,20,5844,3525,178,1120,31,3728,...,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,58042,4.313786696,86.27573393,3534125.0,0.328466
85003,1016690.0,47554,9369,10,5844,3525,178,1120,31,3728,...,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,101669,7.556224452,75.56224452,3534125.0,0.287678
85003,183600.0,47554,9369,30,5844,3525,178,1120,31,3728,...,0.002303976,0.277071721,0.025641026,0.461315496,0.137198068,6120,0.454849498,13.64548495,3534125.0,0.051951
85004,2210900.0,33862,4965,20,2646,2319,180,497,14,1647,...,0.002051583,0.241354045,0.037514654,0.501758499,0.118112544,110545,16.19944314,323.9888628,7008260.0,0.315471

In [8]:
df.keys()

Index(['Scratcher Sales Amount', 'Income Per Household Amount',
       'Population Count', 'Price Point', 'Male Population Count',
       'Female Population Count', 'Asian Population Count',
       'Black Population Count', 'Hawaiian Population Count',
       'Hispanic Population Count', 'Indian Population Count',
       'White Population Count', 'Other Population Count', 'Total Population',
       'Male Population Ratio', 'Female Population Ratio',
       'Asian Population Ratio', 'Black Population Ratio',
       'Hawaiian Population Ratio', 'Hispanic Population Ratio',
       'Indian Population Ratio', 'White Population Ratio',
       'Other Population Ratio', 'Ticket count', 'Ticket Per Capita',
       'Sales Per Capita', 'total', 'Ratio'],
      dtype='object')

In [9]:

temp=df[["Price Point","Ratio"]]

In [12]:
temp1=temp.pivot_table(values='Ratio', index='Zip Code', columns = 'Price Point')

In [15]:
temp1.head()

Price Point        5         10        20        30
Zip Code
85003        0.331905  0.287678  0.328466  0.051951
85004        0.310431  0.310877  0.315471  0.063221
85006        0.429757  0.311044  0.204812  0.054387
85007        0.404335  0.300972  0.237205  0.057487
85008        0.400284  0.304498  0.231695  0.063523

In [17]:
df['total'].head()

Zip Code
85003    3534125.0
85003    3534125.0
85003    3534125.0
85003    3534125.0
85004    7008260.0
Name: total, dtype: float64