In [3]:
import re
import string

In [4]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\herma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
text = text.lower()
text

'yes ,that is a duplicate catalog category. the catalog number is c1357-a'

In [9]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
regex=re.compile(r'cat') # for cat this word
text = regex.sub('#',text)
text

'Yes ,that is a dupli#e #alog #egory. The #alog number is C1357-A'

In [10]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
regex=re.compile(r'[cat]',re.IGNORECASE) # for each char in cat.
text = regex.sub('#',text)
text

'Yes ,#h## is # dupli###e ####log ###egory. #he ####log number is #1357-#'

In [11]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
regex=re.compile(r'[tact]',re.IGNORECASE) # for each char in cat.
text = regex.sub('#',text)
text

'Yes ,#h## is # dupli###e ####log ###egory. #he ####log number is #1357-#'

In [12]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
pattern='cat'
regex=re.compile(r'[%s]'%pattern,re.IGNORECASE) # for each char in cat.
text = regex.sub('#',text)
text

'Yes ,#h## is # dupli###e ####log ###egory. #he ####log number is #1357-#'

In [15]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
pattern='0-9'
regex=re.compile(r'[%s]'%pattern) # for each char in cat.
text = regex.sub('#',text)
text

'Yes ,that is a duplicate catalog category. The catalog number is C####-A'

In [14]:
string.digits

'0123456789'

In [17]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
pattern= string.digits
regex=re.compile(r'[%s]'%pattern) # for each char in cat.
text = regex.sub('#',text)
text

'Yes ,that is a duplicate catalog category. The catalog number is C####-A'

In [5]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
pattern= string.digits
regex=re.compile(r'[%s]'%string.digits) # for each char in cat.
text = regex.sub('#',text)
text

'Yes ,that is a duplicate catalog category. The catalog number is C####-A'

In [18]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
pattern= string.punctuation
regex=re.compile(r'[%s]'%pattern) # for each char in cat.
text = regex.sub('#',text)
text

'Yes #that is a duplicate catalog category# The catalog number is C1357#A'

In [22]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
pattern1= string.digits
pattern2= string.punctuation
regex=re.compile(r'[%s%s]'%(pattern1, pattern2)) # for each char in cat.
text = regex.sub('#',text)
text

'Yes #that is a duplicate catalog category# The catalog number is C#####A'

In [24]:
text = 'Yes ,that is a duplicate catalog category. The catalog number is C1357-A'
pattern1= string.digits
pattern2= string.punctuation
regex=re.compile(r'[%s%s]'%(pattern1, pattern2)) # for each char in cat.
text = regex.sub('',text)
text

'Yes that is a duplicate catalog category The catalog number is CA'

In [34]:
text = 'Yes ,that is a duplicate \t catalog category. The catalog    number is C1357-A.\n ddd'
print(text)
pattern= '\s+'
regex=re.compile(r'%s'%pattern) # for each char in cat.
text = regex.sub(' ',text)
print(text)

Yes ,that is a duplicate 	 catalog category. The catalog    number is C1357-A.
 ddd
Yes ,that is a duplicate catalog category. The catalog number is C1357-A. ddd

In [6]:
sen = 'Yes, that is a duplicate catalog category. The catalog number is C1357-A.'
sw = ['the','is','a','that','in']
senlst=sen.split()
print(senlst)
senclean = ' '.join([w for w in senlst if w.lower() not in sw])
senclean

['Yes,', 'that', 'is', 'a', 'duplicate', 'catalog', 'category.', 'The', 'catalog', 'number', 'is', 'C1357-A.']

'Yes, duplicate catalog category. catalog number C1357-A.'

In [54]:
text = """Python is an interpreted, high-level, general-purpose programming 
language. Created by Guido van Rossum and first released in 1991, Python has a 
design philosophy that emphasizes code readability, notably using significant 
whitespace. It provides constructs that enable clear programming on both small 
and large scales.[26] Van Rossum led the language community until stepping 
down as leader in July 2018.[27][28] Python features a dynamic type system 
and automatic memory management. It supports multiple programming paradigms, 
including object-oriented, imperative, functional and procedural, and has a 
large and comprehensive standard library.[29] Python interpreters are 
available for many operating systems. CPython, the reference implementation of 
Python, is open source software[30] and has a community-based development 
model, as do nearly all of Python's other implementations. Python and CPython 
are managed by the non-profit Python Software Foundation."""
text

"Python is an interpreted, high-level, general-purpose programming \nlanguage. Created by Guido van Rossum and first released in 1991, Python has a \ndesign philosophy that emphasizes code readability, notably using significant \nwhitespace. It provides constructs that enable clear programming on both small \nand large scales.[26] Van Rossum led the language community until stepping \ndown as leader in July 2018.[27][28] Python features a dynamic type system \nand automatic memory management. It supports multiple programming paradigms, \nincluding object-oriented, imperative, functional and procedural, and has a \nlarge and comprehensive standard library.[29] Python interpreters are \navailable for many operating systems. CPython, the reference implementation of \nPython, is open source software[30] and has a community-based development \nmodel, as do nearly all of Python's other implementations. Python and CPython \nare managed by the non-profit Python Software Foundation."

In [58]:
sw=stopwords.words('english')
sw[:5]

['i', 'me', 'my', 'myself', 'we']

In [73]:
text = """Python is an interpreted, high-level, general-purpose programming 
language. Created by Guido van Rossum and first released in 1991, Python has a 
design philosophy that emphasizes code readability, notably using significant 
whitespace. It provides constructs that enable clear programming on both small 
and large scales.[26] Van Rossum led the language community until stepping 
down as leader in July 2018.[27][28] Python features a dynamic type system 
and automatic memory management. It supports multiple programming paradigms, 
including object-oriented, imperative, functional and procedural, and has a 
large and comprehensive standard library.[29] Python interpreters are 
available for many operating systems. CPython, the reference implementation of 
Python, is open source software[30] and has a community-based development 
model, as do nearly all of Python's other implementations. Python and CPython 
are managed by the non-profit Python Software Foundation."""
pattern1= string.digits
pattern2= string.punctuation

regex=re.compile(r'[%s%s]*'%(pattern1, pattern2)) # for each char in cat.
text = regex.sub('',text)
regex2=re.compile(r'\s+')
text=regex2.sub(' ',text)
text=text.lower()
textlst=text.split()
text=' '.join([w for w in textlst if w not in sw])
text

'python interpreted highlevel generalpurpose programming language created guido van rossum first released python design philosophy emphasizes code readability notably using significant whitespace provides constructs enable clear programming small large scales van rossum led language community stepping leader july python features dynamic type system automatic memory management supports multiple programming paradigms including objectoriented imperative functional procedural large comprehensive standard library python interpreters available many operating systems cpython reference implementation python open source software communitybased development model nearly pythons implementations python cpython managed nonprofit python software foundation'

In [8]:
def preprocess(text):
    sw=stopwords.words('english')
    pattern1= string.digits
    pattern2= string.punctuation
    regex=re.compile(r'[%s%s]*'%(pattern1, pattern2)) # for each char in cat.
    text = regex.sub('',text)
    regex2=re.compile(r'\s+')
    text=regex2.sub(' ',text)
    text=text.lower()
    textlst=text.split()
    text=' '.join([w for w in textlst if w not in sw])
    return text
text = """Python is an interpreted, high-level, general-purpose programming 
language. Created by Guido van Rossum and first released in 1991, Python has a 
design philosophy that emphasizes code readability, notably using significant 
whitespace. It provides constructs that enable clear programming on both small 
and large scales.[26] Van Rossum led the language community until stepping 
down as leader in July 2018.[27][28] Python features a dynamic type system 
and automatic memory management. It supports multiple programming paradigms, 
including object-oriented, imperative, functional and procedural, and has a 
large and comprehensive standard library.[29] Python interpreters are 
available for many operating systems. CPython, the reference implementation of 
Python, is open source software[30] and has a community-based development 
model, as do nearly all of Python's other implementations. Python and CPython 
are managed by the non-profit Python Software Foundation."""
preprocess(text)

'python interpreted highlevel generalpurpose programming language created guido van rossum first released python design philosophy emphasizes code readability notably using significant whitespace provides constructs enable clear programming small large scales van rossum led language community stepping leader july python features dynamic type system automatic memory management supports multiple programming paradigms including objectoriented imperative functional procedural large comprehensive standard library python interpreters available many operating systems cpython reference implementation python open source software communitybased development model nearly pythons implementations python cpython managed nonprofit python software foundation'

In [9]:
# create a corpus of documents
corpus = ["This is a brown house. This house is big.",
          "This is a small house. This house has 1 bedroom.",
          "This dog is brown. This dog likes to play",
          "The dog is in the bedroom."]
corpus

['This is a brown house. This house is big.',
 'This is a small house. This house has 1 bedroom.',
 'This dog is brown. This dog likes to play',
 'The dog is in the bedroom.']

In [10]:
new=[preprocess(w) for w in corpus]
new

['brown house house big',
 'small house house bedroom',
 'dog brown dog likes play',
 'dog bedroom']

In [11]:
new1= list(map(preprocess, corpus))
new1

['brown house house big',
 'small house house bedroom',
 'dog brown dog likes play',
 'dog bedroom']

In [12]:
lst=[k.split() for k in new1]
lst

[['brown', 'house', 'house', 'big'],
 ['small', 'house', 'house', 'bedroom'],
 ['dog', 'brown', 'dog', 'likes', 'play'],
 ['dog', 'bedroom']]

In [13]:
import pandas as pd
lst3=[pd.Series(x) for x in lst]
lst3

[0    brown
 1    house
 2    house
 3      big
 dtype: object, 0      small
 1      house
 2      house
 3    bedroom
 dtype: object, 0      dog
 1    brown
 2      dog
 3    likes
 4     play
 dtype: object, 0        dog
 1    bedroom
 dtype: object]

In [15]:
lst4=[pd.value_counts(x) for x in lst3]
lst4

[house    2
 brown    1
 big      1
 dtype: int64, house      2
 bedroom    1
 small      1
 dtype: int64, dog      2
 likes    1
 brown    1
 play     1
 dtype: int64, dog        1
 bedroom    1
 dtype: int64]

In [16]:
df1=pd.DataFrame(lst4)
df1

   house  brown  big  bedroom  small  dog  likes  play
0    2.0    1.0  1.0      NaN    NaN  NaN    NaN   NaN
1    2.0    NaN  NaN      1.0    1.0  NaN    NaN   NaN
2    NaN    1.0  NaN      NaN    NaN  2.0    1.0   1.0
3    NaN    NaN  NaN      1.0    NaN  1.0    NaN   NaN

In [18]:
df1.fillna(value=0, inplace= True)
df1

   house  brown  big  bedroom  small  dog  likes  play
0    2.0    1.0  1.0      0.0    0.0  0.0    0.0   0.0
1    2.0    0.0  0.0      1.0    1.0  0.0    0.0   0.0
2    0.0    1.0  0.0      0.0    0.0  2.0    1.0   1.0
3    0.0    0.0  0.0      1.0    0.0  1.0    0.0   0.0